/* Importez les variables CSS de rules.css */
@import url("rules.css");

/* Styles pour l'en-tête (header) */
header {
    background-color: var(--header-background-color); /* Utilisez la variable pour la couleur de fond de l'en-tête */
    color: var(--header-text-color); /* Utilisez la variable pour la couleur du texte de l'en-tête */
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-dropdown {
    background-color: var(--nav-background-color); /* Utilisez la variable pour la couleur de fond de la barre de navigation */
    color: var(--nav-text-color); /* Utilisez la variable pour la couleur du texte de la barre de navigation */
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 3%;
    cursor: pointer;
}

.site-name {
    margin: 0;
    flex-grow: 1; /* Permet au titre de prendre tout l'espace disponible */
    text-align: center; /* Centre le texte */
}
