@import url("rules.css");

.bloc-categorie {
    display: flex;
    flex-direction: column;
    align-items: left; /* Pour aligner verticalement le titre et la liste */
    margin-left: 2%;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 2%;
    margin-bottom: 2%;

}

.reserve-button{
    background-color: #007bff; /* Couleur de fond du bouton */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto; /* Centre le bouton horizontalement */

}


.bloc-categorie:last-child{
    border-bottom: none;
}

ul {
    list-style-type: none; /* Enlève les puces */
    padding-left: 0; /* Enlève le padding à gauche qui est généralement ajouté pour les puces */

}

li{
    padding-left: 4%;
}

.bloc_liste {
    display: flex;
    flex-direction: row;
}

.title-font {
    font-family: 'Playfair Display', serif;
}

.title-color {
    color: #D2691E; /* Terre Cuite */
}