/* Déclaration du charset UTF-8 */
@charset "UTF-8";

/* Variables pour les couleurs du site */
:root {
    --background-color-light: #ffffff; /* Couleur de fond en mode clair */
    --text-color-light: #333333; /* Couleur du texte en mode clair */
    --background-color-dark: #333333; /* Couleur de fond en mode sombre */
    --text-color-dark: #ffffff; /* Couleur du texte en mode sombre */
}
