/* Importez les variables CSS de rules.css */
@import url("rules.css");

/* Styles pour le conteneur principal */
.container {
    display: flex;
    justify-content: flex-end; /* Aligner le contenu à droite */
    max-width: 300px; /* Largeur maximale du conteneur */
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #fff; /* Couleur de fond du conteneur principal */
    z-index: 1; /* Assure que le conteneur reste au-dessus du contenu lors du scroll */
    margin-left: auto; /* Alignement à droite en utilisant margin-left:auto */
}

/* Styles pour le sous-conteneur */
.sub-container {
    background-color: #f9f9f9; /* Couleur de fond du sous-conteneur */
    padding: 10px;
    border: 1px solid #ccc; /* Bordure autour du sous-conteneur */
    text-align: center; /* Centrer le contenu du sous-conteneur */
    width: 100%; /* Utilisation de 100% de la largeur du conteneur principal */
    margin-bottom: 10px; /* Espace en bas du sous-conteneur */
}

/* Style pour le titre "Contact" */
.sub-container h2 {
    font-size: 18px;
    text-align: left;
    margin: 0;
}

/* Style pour le bouton "Réserver" */
.reserve-button {
    background-color: #007bff; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto; /* Centre le bouton horizontalement */
    margin-top: 10%;
}

/* Style au survol du bouton "Réserver" */
.reserve-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
}

/* Styles pour les éléments de texte */
.price, .phone, .email {
    margin: 5px 0;
}

/* Style pour le texte "À partir de XXX€ / semaine" */
.phone, .email {
    margin-left: 10%;
    text-align: start; /* Alignement à droite */
}
