.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    grid-gap: 2vw;
    padding: 2vh;
    max-height: 80vh;
}

.images-container img {
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 5px;
    margin: 1vh 2vw;
    background-color: #f0f0f0;
}

.delete-button {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    padding: 2vh 4vw;
    cursor: pointer;
    margin: 2vh 2vw;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .images-container {
        display: block;
        max-height: 80vh;
    }

    .images-container img {
        width: 100%;
        height: auto;
        margin-bottom: 1vw;
    }

    .delete-button {
        width: 100%;
        padding: 1vh 2vw;
    }
}







