
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


#imagePreview {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    display: none; /* Hide initially */
    width: 300px;
    height: 300px;
}

.form-img{
    display: flex;
    flex-direction: column;
}