@import url("rules.css");
.container-apropos{
    display: flex;
    flex-direction: column;
    background-color: var(--bloc-background-color);
    color: var(--bloc-text-color);
    border: 1px solid #eaeaea;
    text-align: center;
}

.about-section{
    margin-top: 10vh;
}

.form-contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bloc-background-color);
    color: var(--bloc-text-color);
    border: 1px solid #eaeaea;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
}

.form-element {
    display: block;
    margin-bottom: 20px;
    text-align: center;


}

.form-element label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.form-element input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-center {
    display: block;
    margin: 0 auto;
    background-color: var(--botton-background-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 auto;
}