@import url("rules.css");

.container-apropos {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bloc-background-color);
    color: var(--bloc-text-color);
    text-align: center;
    padding: 2vh 2vw;
}

#about-content{
    margin-bottom: 7vh;
    margin-top: 3vh;
}

.about-section {
    margin: 2vh 0;
}

h2{
    font-size: 1.5rem;
}

.form-contact {
    width: 60vw;
    margin: 2vh 2vw;
    padding: 1vh 2vw;
    background-color: var(--bloc-background-color);
    color: var(--bloc-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-element {
    display: flex;
    flex-direction: column;
    margin: 2vh 0;
}

label {
    margin: 1vh 0;
    font-weight: bold;
    font-size: 1.5rem;
}

input, textarea {
    width: 60%;
    padding: 1vh 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea{
    width: 50vw;
    height: 10vh;
}

.btn-center {
    background-color: var(--botton-background-color);
    border: none;
    align-items: center;
    border-radius: 5px;
    padding: 1vh 2vw;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 2vh auto;
}
