/* Importez les variables CSS de rules.css */
@import url("rules.css");

#calendar{
    display: flex;
    border: 1px solid #ddd;
    margin: 1%;
    font-size: 14px;
    border-radius: 15px;
    width: 100hw;

}

.tableau-reservations{
    display: flex;
    width: 100hw;

}