/* Importez les variables CSS de rules.css */
@import url("rules.css");


#calendar{
    display: flex;
    border: 1px solid #ddd;
    margin: 1%;
    font-size: 14px;
    border-radius: 15px;
    width: 100hw;


}


.tableau-reservations {
    display: flex;
    width: 100hw;
    justify-content: center;
    margin-top: 20px;


}


.tableau-reservations table {
    width: 90%;  /* pour assurer que le tableau utilise toute la largeur disponible */
    border-collapse: collapse;  /* pour s'assurer que les bordures des cellules s'affichent correctement */
    border-radius: 10px;
    overflow: hidden;  /* pour masquer les bordures et le contenu dépassant */
    border: 2px solid #ddd;  /* ajuster selon vos préférences de couleur et de largeur */
    margin: 10px 0;
    font-size: 1.3rem;
    text-align: left;
}


.tableau-reservations th,
.tableau-reservations td {
    padding: 16px;
    border-bottom: 1px solid #ddd;  /* bordure entre les rangées */
}


.tableau-reservations th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.tableau-reservations tr:hover {
    background-color: #f5f5f5;
}


.tableau-reservations button {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.tableau-reservations button:hover {
    background-color: #ddd;
}


.tableau-reservations tr:first-child th:first-child {
    border-top-left-radius: 10px;
}


.tableau-reservations tr:first-child th:last-child {
    border-top-right-radius: 10px;
}


.tableau-reservations tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}


.tableau-reservations tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}




.tableau-reservations tr:last-child td {
    border-bottom: none;  /* pour éviter une bordure double sur la dernière rangée */
}


.tableau-reservations tr:hover {
    background-color: #f5f5f5;  /* couleur d'arrière-plan au survol, choisissez votre couleur préférée */
}


.tableau-reservations th {
    background-color: #4CAF50;  /* couleur d'arrière-plan des entêtes de colonnes, ajustez selon vos préférences */
    color: white;
}


.content-wrapper {
    display: flex;
    flex-direction: column; /* pour les empiler verticalement */
    align-items: center; /* centre les éléments horizontalement */
    gap: 10px; /* espace entre les éléments */
    padding: 1%;
    width: 100hw;
}


/* Pour les écrans de taille moyenne (par exemple, tablettes) */
@media screen and (max-width: 768px) {
    .tableau-reservations {
        flex-direction: column; /* Affiche les éléments en colonnes */
    }
    .tableau-reservations th, .tableau-reservations td {
        font-size: 1.4rem; /* Réduire la taille de la police pour un affichage plus compact */
        padding: 1%; /* Réduire l'espacement entre les cellules */
    }
}

/* Pour les écrans de petite taille (par exemple, smartphones) */
@media screen and (max-width: 480px) {
    .tableau-reservations th, .tableau-reservations td {
        font-size: 12px; /* Réduire encore la taille de la police */
        padding: 8px; /* Réduire davantage l'espacement entre les cellules */
    }
    .tableau-reservations button {
        padding: 4px 8px; /* Réduire la taille des boutons */
    }
}

