/* Importez les variables CSS de rules.css */
@import url("rules.css");

.img-container {
  width: 100vw;
  height: 85vh;
  background-image: url('/ProjetGite/assets/images/carrousel_backgroud.jpg');
  background-size: cover; /* L'image de fond couvre l'élément tout en conservant ses proportions */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img-container img {
  width: 400px;
  height: 400px;
  background-color: #87A0E2;
  border-radius: 16px;
  position: absolute;
  user-select: none;
  transition-property: transform, opacity, zIndex, ; 
  transition-duration: 0.3s; 
  transition-timing-function: ease-out; 
}
.arrows {
  width: 900px;
  height: auto;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.arrows svg {
  width: 60px;
  height: 60px;
  position: relative;
  fill: rgb(255, 255, 255);
  opacity: 0.8;
  cursor: pointer;
}

.arrows svg:active {
  transform: scale(0.9);
  opacity: 1;
  transition-property: transform, opacity; 
  transition-duration: 0.3s; 
  transition-timing-function: ease-out; 
}

@media (max-width: 769px) {
    .img-container img.carrousel-img {
        display: none;
    }
    .img-container img.carrousel-img.active {
        display: block;
        width: 260px;
        height: 260px;
    }
    .arrows svg {
        width: 40px; /* Ajuste la taille des flèches sur les smartphones */
        height: 40px;
    }
}