/* Importez les variables CSS de rules.css */
@import url("rules.css");

/* CSS pour le footer */
.footerpage {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    display: flex;
    color: white;
    justify-content: flex-end;
    bottom: 0;
    justify-content: center;
}

.items{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.item{
    margin: 15px;
}