/* Importez les variables CSS de rules.css */
@import url("rules.css");

/* Styles pour l'en-tête (header) */
.header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: 100vw;
}

/* Styles pour .sub-header */
.sub-header {
    position: absolute;
    right: 20px;
    display: flex; /* Utilisez une flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Alignez les éléments verticalement au centre */
}

.select, .mode-toggle {
    background-color: var(--nav-background-color);
    color: var(--nav-text-color);
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 1%; /* Augmentez la marge entre les éléments si nécessaire */
}



