/* Importez les variables CSS de rules.css */
@import url("rules.css");

.header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: 100vw;
}

.logo {
    position: absolute;
    left: 3vw;
}

.site-logo{
    size: 0.5rem;
}

.site-name {
    font-size: 2.2rem;
}

.site-link {
    text-decoration: none;
    color: inherit;
}


.site-name{
    font-size: 2.2rem;
}

.site-link {
    text-decoration: none; 
    color: inherit; 
}

.sub-header {
    position: absolute;
    right: 3vw;
    display: flex;
    align-items: center;
}

.select, .mode-toggle {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin: 1%;
}

.mode-toggle {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column; 
        text-align: center; 
    }

    .logo {
        position: static; 
        margin-top: 2vh; 
    }

    .site-name {
        font-size: 2.2rem; 
    }

    .sub-header {
        position: static; 
        margin-top: 2vh; 
    }

    .select, .mode-toggle {
        margin: 1% 0; 
    }
}



