/* Importez les variables CSS de rules.css */
@import url("rules.css");

/* Styles pour l'en-tête (header) */
.header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    width: 100vw;
}

.site-name{
    font-size: 2.2rem;
}

/* Styles pour .sub-header */
.sub-header {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

.select, .mode-toggle {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 1%;
}

/* Media query pour écrans plus petits (par exemple, max-width: 768px) */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Change la direction pour empiler les éléments verticalement */
        text-align: center; /* Centre le texte */
    }

    .sub-header {
        position: static; /* Rétablit la position normale */
        margin-top: 20px; /* Ajoute une marge supérieure pour séparer la sous-entête de l'en-tête */
    }

    .select, .mode-toggle {
        margin: 1% 0; /* Ajoute une marge supérieure et inférieure pour séparer les éléments dans la sous-entête */
    }
}



