/* Importez les variables CSS de rules.css */
@import url("rules.css");

#map { 
    height: 45vh; 
    border-radius: 15px;
    justify-content: center;
    margin: 1%;
}

.container-map{
    width: 100vw;
}

